.categories {
    padding: 2rem;
    flex-direction: column;
   
}
.categories-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-title img {
    height: 40px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 1rem;
}
.categories-title h1 {
  font-family: var(--font-family);
  margin-bottom: 0rem;
}

.categories-card {
  width: 100px;
  height: 100px;
  padding: 0.25rem;
  border-radius: 10px;
  background-color: white;
  margin: 1rem;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.categories-cards {
  display: flex;
  align-self: center;
  justify-content: center;
   flex-wrap: wrap;

}
.categories-card img {
  border-radius: 10px;
  width: 100px;
  height: 100%;
}
.categories-card p {
  text-align: center;
  margin-top: 0.25rem;
  font-family: var(--font-family);
}

@media screen and (max-width: 480px) {
  .categories-card {
    width: 100px;
    height: 100px;
  }
  .categories-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-title h1 {

  margin-bottom: 1rem;
}

}
