.footer_container {
    background-color: white;
  padding: 0rem 1rem 2rem;
}

.footer_container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-family);
}
.footer_container-title a {
    text-decoration: none;
    color: skyblue;
}
.footer_container-title h1 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 40px;
    margin-top: 1rem;
}
.footer_container-version_control {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
.footer_container-version_control p {
    font-family: var(--font-family);
}

@media screen and (max-width: 500px) {
    .footer_container-title h1 {
        font-size: 25px;
    }
    
}