@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;500;800&display=swap");


:root {
  --font-family: 'Noto Sans', sans-serif;
  --var-primary: #FFE4E1;
  --var-highlight: #ffd700;
}